{% extends "base.html" %}
{% block content %}
  <h1>User Addresses</h1>
  {% for addressupdate in object_list %}
    <p>
      {{ addressupdate.name }}<br>
      {{ addressupdate.address1 }}<br>
      {{ addressupdate.address2 }}<br>
      {{ addressupdate.city }}<br>
      {{ addressupdate.get_country_display }}<br>
    </p>
    <p>
      <a href="{% url "address_update" addressupdate.id %}">Update address</a>
    </p>
    <p>
      <a href="{% url "address_delete" addressupdate.id %}">Delete address</a>
    </p>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <p>
    <a href="{% url "address_create" %}">Add new address</a>
  </p>
{% endblock content %}