{% extends "base.html" %}
{% block content %}
  <h1>User Addresses</h1>
  <p>
    <a href="{% url "address_select" %}">Go back to your order.</a>
  </p>
  <p>
    <a href="{% url "address_create" %}">Add a new address.</a>
  </p>
  <hr>
  <h5>List of your addresses:</h5>
  {% for addressupdate in object_list %}
    <ul>
      <li>Name: {{ addressupdate.name }}</li>
      <li>Address: {{ addressupdate.address1 }}</li>
      {% if addressupdate.address2 %}
        <li>Address 2: {{ addressupdate.address2 }}</li>
      {% endif %}
      <li>City: {{ addressupdate.city }}</li>
      <li>Country: {{ addressupdate.get_country_display }}</li>
    </ul>
    <p>
      <a href="{% url "address_update" addressupdate.id %}">Update address</a>
    </p>
    <p>
      <a href="{% url "address_delete" addressupdate.id %}">Delete address</a>
    </p>
  {% endfor %}
{% endblock content %}