{% extends "base.html" %}

{% block content %}
  <h1>Select the billing/shipping addresses you want your items to be sent to.</h1>
  <p>If you're new, or if you want to add a different address, click the "Add an address" button below.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <hr>
    <button type="submit" class="btn btn-primary">Place Order</button>
    <a class="btn btn-primary" href="{% url "address_create" %}">Add an address</a>
  </form>
{% endblock content %}
