{% extends "base.html" %}
{% block content %}
  <h2>Basket</h2>
  {% if formset %}
    <p>You can adjust the quantities below.</p>
    <form method="POST">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        <p>
          {{ form.instance.product.name }}
          {{ form }}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-default">Update basket</button>
      <hr>
      <a href="{% url "order_pay" %}" class="btn btn-primary">Place order</a>
    </form>
  {% else %}
    <p>You have no items in the basket.</p>
    <a href="/products/">Browse our items here!</a>
  {% endif %}
{% endblock content %}
{% block js %}
  {% if formset %}
    {{ formset.media }}
  {% endif %}
{% endblock js %}
