{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>Homepage</h2>
  {% if user.is_authenticated %}
    <p> Hi {{ user.email }}! </p>
    <p> Our items are located above in the navigation bar! </p>
    <p>If you want us to make an item we don't already make, please fill out the form
      <u><a href="https://docs.google.com/forms/d/e/1FAIpQLSdsMp4NvhdvanPmqenmSMsKjOv13uExoyXRYR_aazdF-p9__w/viewform?usp=sf_link"> here. </a> </u></p>
    <p> <a href="/logout/">Log Out</a></p>
  {% else %}
    <p> You are not logged in. </p>
    <p> <a href="/login/"> Log In </a> |
        <a href="/signup/">Sign Up </a> </p>
  {% endif %}
  <img class="crochetimage" src="{% static 'images/hats.jpg' %}">
{% endblock content %}
