{% extends "base.html" %}
{% load static %}

{% block content %}
  <center>
  <h1>WY Crochet Club</h1>
  <br>
  {% if user.is_authenticated %}
      <h6>Hi {{ user.email }}!</h6>
      <h6>Our products are located above in the navigation bar!</h6>
      <h6>If you want us to make an product we don't already make, please fill out the form
        <u><a href="https://docs.google.com/forms/d/e/1FAIpQLSdsMp4NvhdvanPmqenmSMsKjOv13uExoyXRYR_aazdF-p9__w/viewform?usp=sf_link"> here. </a> </u></h6>
      <h6>If you have a question please contact us at wycrochet@gmail.com</h6>
      <p> <a href="/logout/">Log Out</a></p>
  {% else %}
    <ul class = "big">
      <h6>Our products are located above in the navigation bar!</h6>
      <h6>If you want us to make an product we don't already make, please fill out the form
        <u><a href="https://docs.google.com/forms/d/e/1FAIpQLSdsMp4NvhdvanPmqenmSMsKjOv13uExoyXRYR_aazdF-p9__w/viewform?usp=sf_link"> here. </a> </u></h6>
      <h6>If you have a question please contact us at wycrochet@gmail.com</h6>
    </ul>
    <p> <a href="/login/"> Log In </a> |
        <a href="/signup/">Sign Up </a> </p>
  {% endif %}
  <div id="imagebox"></div>
</center>
{% endblock content %} 

{% block js %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<style type = "text/css" media="screen">
.image{
  margin: 10px;
  display: inline-block;
}
</style>

<script>
const e = React.createElement;

var imageStyle = {
    margin: "10px",
    display: "inline-block",
}

class ImageBox extends React.Component {
  constructor(props) {
    super(props);
    this.state = { 
        currentImage: this.props.imageStart
    }
  }

  click(image) {
    this.setState({
        currentImage: image
    });
  }

  render() {
    const images = this.props.images.map((i) =>
       e('div', {style: imageStyle, className: "image", key: i.image}, 
        e('img', {onClick: this.click.bind(this, i), width: "75", src: i.thumbnail})
        )
    );
    return e('div', {className: "gallery"}, 
        e('div', {className: "current-image"}, 
         e('img', {src: this.state.currentImage.image})
         ),
        images)
  }
}
document.addEventListener("DOMContentLoaded", function (event) {
      var images = [
      { "image": "{% static 'images/wyblanket.jpg' %}",
        "thumbnail": "{% static 'images/wyblanket.jpg' %}"},
      { "image": "{% static 'images/hats.jpg' %}",
        "thumbnail": "{% static 'images/hats.jpg' %}"},
      { "image": "{% static 'images/hats-and-scarves.jpg' %}",
        "thumbnail": "{% static 'images/hats-and-scarves.jpg' %}"},
      { "image": "{% static 'images/baby-boy.jpg' %}",
        "thumbnail": "{% static 'images/baby-boy.jpg' %}"},
      { "image": "{% static 'images/baby-girl.jpg' %}",
        "thumbnail": "{% static 'images/baby-girl.jpg' %}"},
      { "image": "{% static 'images/poncho.jpg' %}",
        "thumbnail": "{% static 'images/poncho.jpg' %}"},
      ]
      ReactDOM.render(React.createElement(ImageBox, {
        images: images,
        imageStart: images[0]
      }), document.getElementById('imagebox'));
    });
</script>
{% endblock %}
